table {
    border-spacing: 10px;
    border: 1 px solid white;
   }
   .app,
   .containers {
    width: 100%;
    height: 100%;
   }
   .containers {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #283c34;
    text-align: center;
   }

   .table-container {
        display: flex;
        height: 100%;
   }

   .container-inner {
        height: calc(100% - 50px);
        overflow: scroll;
   }

   table {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
    border-collapse: separate;

   }
