.App {
  text-align: center;
}

.container {
  border: solid #333333 1px;
  flex-grow: 1;
  flex-flow: column;
  display: flex;
  margin: 5px;
}

.container.wide {
  flex-grow: 2;
}

.wrapper {
  display: flex;
}

.container .add-task-button {
  margin-top: 5%;
  margin-bottom: 4%;
}

.input-group {
  padding-left: 5%;
    margin-top:10px;
    width:90%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}